# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.bin

# Metadata
*.aliases
*.lvlps
VeriStand/Data Sharing Custom Device/Built/Custom Device/pharlap/x86/DSF Engine Pharlap.llb
VeriStand/Data Sharing Custom Device/Source/DSF Core.lvlibp
Built/Custom Device/pharlap/x86/DSF Engine Pharlap.llb
